.btn-preview {
  margin: 32% 0% 6% 6%;
  width: 130px;
  height: 30px;
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 80%;
  cursor: pointer;
  color: aliceblue;
}

.btn-preview-details {
  display: block;
  margin: 32% 0% 6% 6%;
  width: 130px;
  height: 30px;
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 80%;
  cursor: pointer;
  color: aliceblue;
}

.btn-filter {
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 120%;
  cursor: pointer;
}
