$cart-summary: cart-summary;

.#{$cart-summary} {
  width: 29%;
  border: 1px solid orange;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #1e1b1b80;
  height: -moz-fit-content;
  height: fit-content;
}

.#{$cart-summary}__heading {
  text-align: center;
  font-size: 130%;
  background-color: #181a1c;
  padding: 0.3rem;
  border-bottom: 1px solid orange;
}

.#{$cart-summary}__total-item {
  width: 90%;
  font-size: 170%;
  color: wheat;
  text-align: center;
  margin: 4%;
}

.#{$cart-summary}__total-item-label {
  font-size: 90%;
}

.#{$cart-summary}__promo-code {
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$cart-summary}__promo-code-input {
  background-color: #181a1c;
  width: 70%;
  border: 1px solid orange;
  color: orange;
  border-radius: 2rem;
  padding: 0.4rem;
  text-align: center;
  outline: none;
  font-size: 100%;
}

.#{$cart-summary}__promo-ex {
  display: block;
  margin: 3% auto;
  text-align: center;
  color: #e38383;
  font-size: 90%;
}

.#{$cart-summary}__promo-result {
  color: wheat;
  margin-top: 3%;
  text-align: center;
}

.#{$cart-summary}__promo-add {
  color: wheat;
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding: 1%;
  cursor: pointer;
  font-size: 90%;
  text-transform: uppercase;
}

.#{$cart-summary}__applied-promo {
  width: 80%;
  margin: 6% auto;
  border: 1px solid orange;
  border-radius: 0.3rem;
  overflow: hidden;
}

.#{$cart-summary}__applied-promo-heading {
  text-align: center;
  background-color: #181a1c;
  border-bottom: 1px solid orange;
}

.#{$cart-summary}__applied-promo-item {
  color: wheat;
  text-align: center;
  border-bottom: 1px solid orange;
  padding: 2%;
}

.#{$cart-summary}__applied-promo-drop {
  color: wheat;
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 0.3rem;
  padding: 0.5%;
  cursor: pointer;
}

.#{$cart-summary}__buy-now {
  font-size: 100%;
  display: block;
  padding: 2% 0;
  background: #9a3535;
  color: wheat;
  border: 2px solid orange;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 50%;
  margin: 3rem auto 1rem;
  text-transform: uppercase;
}

.old-price {
  text-decoration: line-through;
}
