.search-bar__input {
  background-color: #181a1c;
  width: 140%;
  border: 1px solid orange;
  color: orange;
  border-radius: 2rem;
  padding: 0.2rem;
  outline: none;
  font-size: 80%;
  text-align: center;
}
