.sort-bar__select {
  outline: 0;
  border: 0;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #181a1c;
  cursor: pointer;
  border-radius: 1rem;
  color: orange;
  border: 1px solid orange;
  text-align: center;
}
